.sitenav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.sitenav__list {
  @include reset-list;
  display: flex;
  align-items: center;
}

.sitenav__list--left .sitenav__item{
  margin-right: 25px;
}
.sitenav__list--right .sitenav__item{
  margin-left: 25px;
}
.sitenav__link {
  text-decoration: none;
  color: #433840;
  font-size: 18px;

  &:hover {
    color: #FEA3AC;
  }

  &:active {
    opacity: 0.6;
  }
}

.active {
  color: #FEA3AC;
}
.sitenav__menu-btn {
  display: none;
}

@media only screen and (max-width: 768px) {

  .sitenav__menu-btn {
    display: block;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 35px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 35px 30px;
  }
  .sitenav__menu-btn--open {
    background-image: url("../img/menu.svg");
  }
  .sitenav__menu-btn--close {
    background-image: url("../img/close.svg");
  }

  .sitenav__list {
    display: none;
  }
  .sitenav--open  .sitenav__list{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    flex-direction: column;
    background-color: #fff;
    animation: menu-toggler 0.5s ease forwards;
  }
  .sitenav--open .sitenav__list--left {
    top: 110px;
  }
  .sitenav--open .sitenav__list--right {
    top: 260px;
  }
  .sitenav--open .sitenav__list--left .sitenav__item{
    margin-right: 0;
    text-align: center;
  }
  .sitenav--open .sitenav__list--right .sitenav__item{
    margin-left: 0;
    text-align: center;
  }
  .sitenav--open .sitenav__link {
    display: block;
    font-size: 20px;
    padding-top: 20px;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 500px) {

  .sitenav--open .sitenav__list--left {
    top: 95px;
  }
  .sitenav--open .sitenav__list--right {
    top: 245px;
  }
}

@keyframes menu-toggler {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}