.site-logo__img {
  display: block;
}

@media only screen and (max-width: 500px) {
  .site-logo__img {
    width: 180px;
  }
}

@media only screen and (max-width: 350px) {
  .site-logo__img {
    width: 150px;
  }
}